Css

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: aquamarine;
    padding-top: 100px;

}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 5vw;
}

.column {
    flex: 1 1 calc(33.33% - 20px);
    padding: 10px;
    height: 550px;
    width: 230px;
}

.card {
    
    background-color: antiquewhite;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(89, 22, 211, 0.1);
    padding: 20px;
    margin-bottom: 1px;
    
    text-align: center;
    height: 450px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.card:hover{
    transform: scale(1.05);
    background-color: rgb(240, 216, 179);

}

.card img {
    width: 100%;
    height: 300px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.card h2 {
    color: #333;
    font-size: 1.2rem;
}

.card p {
    color: #666;
    font-size: 0.8rem;
    line-height: 1.2;
}
.font{
    margin-left: 80px;
    margin-top: 60px;
    /* margin-top: 10px; */
    width: 10rem;
    height: 1.5rem;
    font-size: 15px;
    font-weight: 700;
    border-radius: 5px;
    background-color:#9a9696;
    border: none;
    transition: all 0.3s ease-in-out;
}
.font:hover{
    transform: scale(1.05);
    background-color:bisque;
    color: white ;
    border:  2px solid black;
}



/* navbar css */

nav {
    display: flex;
    z-index: 1;
    position: relative;
    top: 1px;
    left: 0px;
    position: fixed;
    gap: 30px;
    width: 100vw;
    height: 60px;
    text-align: center;
    background-color: black;
    font-size:30px;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 0px 20px 5px gainsboro;
    flex-wrap: wrap;
}

#searchInput{
    border-radius: 15px;
    height: 30px;
    width: 200px;
}

.nav-img {
    border-radius: 50%;
    height: 30px;
    width: 30px;
    position: relative;
    top: 0.2vw;
    /* left: 3vw; */
}

.search-button {
    border-radius: 20px;
    height: 30px;
    width: 80px;
    margin-left: 10px;
    font-size: 12px;
    color: white;
    background-color: blue;
}

.search-button:hover {
    background-color: rgb(12, 154, 215);
}

.nav-in {
    display: flex;
    justify-content: center;
    align-items: center;

}

.icon-nav {
    gap: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.nav-i {
    gap: 4vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

p:hover {
    color: red;
}
ul{display: none;}
.nav-a{
    font-size: 25px;
    color:white;
}
p{
    margin: 2px;
    height: 0px;
}

@media only screen and (max-width: 768px) {
    nav {
        flex-wrap: wrap;
        justify-content: center;
        height: 230px;
        font-size: 20px;
        position: absolute;
        gap: 2px;
    }
    .nav-img{
        top: 1vw;
    }
    body{
        gap: 10px;
    }

    .nav-in {

        order: 4; 
        padding: 3vw;
       
    }
    .row{
        position: relative;
        top: 200px;
    }
  
    #inputBox {
        width: 80%; 
    }

    .search-button {
        width: 20%; 
    }
}
