
/* sopping css */
.main{
    background-color: white;

}
.sop-n{
    height: 30px;
    width:98vw;
    display: flex;                                                                                                 
    gap:5vw;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    background: transparent;
    background-color: rgb(101, 100, 100);
}
.sho-p{
    margin: 0%;
    margin-top:5px;
    margin-left: 5px;
    margin-right: 10px;
    font-size: 20px;
    color: #000;
    bottom: 20px;
    font-weight: 600;
}
span{
    margin-left: 10px;
    color:grey;
    font-size: 12px;
    display: inline;
    background-color:white;
}
.a{
    color: black;
    background-color:chocolate;;
}
.main-img-x{
    width: 96vw;
    margin: 1vw;
}
.nav-p{
    color: black;
    font-size: 2vw;
    font-weight: 700;
    margin: 5px;
}
.nav-p:hover{
    color:chocolate;
}
.main-h{
    text-align: center;
    color:blue;
    box-shadow: rgba(253, 228, 228, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    margin-bottom: 50px;
}

.Dals{
    display: flex;
    overflow: hidden;
    margin: auto;
    width: 80vw ;
    height: 400px;
    margin-top: 63px;
    box-shadow: rgba(253, 228, 228, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    transition: all 0.3s ease-in-out;
}
.scroll{
    display: flex;
    flex-direction: row;
   
}
    
.box1{
    height: 300px;
    width: 200px;
    border: 4px solid gray;
    margin: 20px;
    border-radius: 20px;
    text-align: center;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0,0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;    
}
.box1:hover{
    background-color:bisque ;
    color: #000;
    transform: scale(1.05);
}
.box3{
    height: 300px;
    width: 200px;
    border: 4px solid gray;
    margin: 20px;
    border-radius: 20px;
    text-align: center;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0,0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;    
}
.box3:hover{
    background-color:bisque ;
    color: #000;
    transform: scale(1.05);
}
    
.box2{
    height: 300px;
    width: 200px;
    border: 4px solid gray;
    margin: 20px;
    border-radius: 20px;
    text-align: center;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0,0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;    
}
.box2:hover{
    background-color:bisque ;
    color: #000;
    transform: scale(1.05);
}

.box4{
    height: 300px;
    width: 200px;
    border: 4px solid gray;
    margin: 20px;
    border-radius: 20px;
    text-align: center;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0,0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;    
}
.box4:hover{
    background-color:bisque ;
    color: #000;
    transform: scale(1.05);
}


.Pulses{
    /* gap: 20px; */
    width: 98vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

.img-sho{
    height: 150px;
    width: 150px;
    margin: 0%;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.add{
    color: white;
    background-color: #0000ff;
    height: 30px;
    width: 90px;
    border-radius: 10px;
    color: #000;
    transition: all 0.3s ease-in-out;
    border: none;
}
.add:hover{
    background-color:rgb(12, 139, 202);
    transform: scale(1.05);
    border: 2px solid gray;
}
.buy{
    color: white;
    background-color: rgb(177, 173, 172);
    height: 30px;
    width: 90px;
    border-radius: 10px;
    color: #000;
    border: none;
}
.buy:hover{
   border: 2px solid grey;
   background-color:rgb(202, 91, 12);
    transform: scale(1.05);
}
.i-h{
    color: rgb(3, 3, 76);
    text-align:center;

}
.btn{
    height: 30px;
    width: 100px;
    background-color: grey;
    border-radius: 5px;
    font-size: 15px;
    transition: all 0.3s ease-in-out;
}
.btn1{
    height: 30px;
    width: 100px;
    background-color: grey;
    border-radius: 5px;
    font-size: 15px;
    transition: all 0.3s ease-in-out;
}
.btn:hover{
    transform: scale(1.05);
    background-color: transparent;

}
.but{
    display: flex;
    justify-content: center;
    gap: 4px;
    align-items: center;
}
.paise{
    display: flex;
    justify-content: space-between;
}
h2{
    color: #000;
}
.footer-sho{
    display: flex;
    justify-content: space-around;
    background-color:black;
    color: white;
    padding: 55px;  
    margin-top: 77px;   
}
.txt p{
    margin-top: 12px;
}

.s{
    height: 20vw;
    width: 90vw;
    margin: 4vw;
}

/* navbar css */

nav {
    display: flex;
    gap: 5vw;
    height: 3vw;
    width: 99vw;
    text-align: center;
    background-color: rgb(151, 149, 149);
    font-size: 1.5vw;
    border-radius: 15px;
    align-items: center;
}

#searchInput{
    border-radius: 20px;
    height: 2vw;
    width: 15vw;
}

.nav-img {
    border-radius: 50%;
    height: 3vw;
    width: 3vw;
    position: relative;
    top: 1=0.2vw;
    left: 3vw;
}

.search-button {
    border-radius: 20px;
    height: 2.4vw;
    width: 5vw;
    font-size: 0.8vw;
    color: white;
    background-color: blue;
}

.search-button:hover {
    background-color: rgb(12, 154, 215);
}

.nav-in {
    display: flex;
    justify-content: center;
    align-items: center;

}

.icon-nav {
    gap: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1vw;
}

.nav-i {
    gap: 4vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

p:hover {
    color: red;
}
ul{display: none;}
.nav-a{
    font-size: 1.5vw;
    color:black;
}

@media only screen and (max-width: 768px) {
    nav {
        flex-wrap: wrap;
        justify-content: center;
        height: 5vw;
    }
    .nav-img{
        top: 1vw;
    }

    .nav-in {

        order: 4; 
        padding: 3vw;
       
    }

    #inputBox {
        width: 80%; 
    }

    .search-button {
        width: 20%; 
    }
}
/* login css */



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gilroy";
}

.main-log {
    height: 100vh;
    width: 100vw;
    background-color: #dadada;
}

.container-log {
    background-color: white;
    width: 40vw;
    height: 47vw;
    position: absolute;
    margin: auto;
    top: 3vw;
    left: 0%;
    bottom: 0;
    right: 0;
    border-radius: 10px;
    box-shadow: 2px 2px 3px -1px rgba(0, 0, 0, 0.5);
}

.content-log {
    width: 56%;
    margin: auto;
    text-align: center;
}

.img1-log {
    width: 5vw;
    position: relative;
    top: 2vw;
    border-radius: 50%;
}

.header-log {
    font-size: 2vw;
    font-weight: 700;
    margin-top: 3vw;
    margin-bottom: 3vw;
    line-height: 0.9;
}

.detail-log{
    width: 100%;
    height: 3vw;
    margin: 5px;
    padding: 1vw;
    font-size: 1vw;
    color: gray;
    border: 2px solid rgb(218, 214, 214);
    border-radius: 15px;
}



.btn-log {
    width: 100%;
    height: 3vw;
    border: hidden;
    border-radius: 20px;
    font-size: 0.5vw;
    margin: 5px 0px;
}

.int-log {
    background-color: #200df3;
    margin: 10px 0px;
    color: white;
    font-size: 1.5vw;
    text-align: center;
    border-radius: 10px;
}

.int-log:hover {
    background-color: #df0812;
}

footer p {
    font-size: 1vw;
    margin: 1;
    opacity: 0.7;
}

p:last-child {
    opacity: 1;
}

hr {
    width: 50%;
    opacity: 0.4;
    margin-left: 25%;
}

.error-log {
    font-weight: 500px;
    color: red;
    text-transform: capitalize;
    margin: 7px 0;
}

a {
    font-size: 1vw;
}

.suc-log {
    height: 2vw;
    width: 23vw;
    background-color: green;
    border-radius: 20px;
    display: none;
    text-align: center;
}

.err-log {
    height: 2vw;
    width: 23vw;
    background-color: red;
    border-radius: 20px;
    display: none;
    text-align: center;

}


/* signup css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gilroy";
}

.main-sig {
    height: 100vh;
    width: 100vw;
    background-color: #dadada;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container {
    background-color: white;
    width: 40vw;
    height: 45vw;
    border-radius: 20px;
    box-shadow: 2px 2px 3px -1px rgba(0, 0, 0, 0.5);
}

.content {
    width: 56%;
    height: 2vw;
    margin: auto;
    font-size: 1vw;
    text-align: center;
}

.img1 {
    width: 7vw;
    position: relative;
    top: 2vw;
    border-radius: 50%;
}

.header {
    font-size: 3vw;
    font-weight: 700;
    margin-top: 3vw;
    margin-bottom: 1vw;
    line-height: 0.9;
}

.detail {
    width: 20vw;
    height: 2vw;
    padding: 0.5vw;
    margin: 0.3vw;
    font-size: 1vw;
    color: gray;
    border: 2px solid rgb(218, 214, 214);
    border-radius: 15px;
}

.detail:focus {
    box-shadow: 0px -7px 3px -2px rgba(15, 91, 231, 0.4),
        0px 7px 3px -2px rgba(15, 91, 231, 0.4),
        7px 0px 3px -2px rgba(15, 91, 231, 0.4),
        -7px 0px 3px -2px rgba(15, 91, 231, 0.4);
    outline: none;
}

h4 {
    font-size: 1vw;
    font-weight: 700;
    position: relative;
    left: -6vw;
    margin: 2px;
}

.btn {
    width: 100%;
    height: 2vw;
    border: hidden;
    border-radius: 20px;
    margin: 0.3vw 0px;
}

.int {
    background-color: rgb(20, 161, 232);
    cursor: pointer;
    font-size: 1.5vw;
    font-weight: 900;
}

.int:hover {
    background-color: rgb(152, 203, 11);
    ;
}

.or {
    font-size: 1vw;
    font-weight: 700;
    margin: 1vw 0px;
}

.fbk {
    background-color: rgb(9, 128, 240);
    margin: 0.3vw 0px;
    font-size: 1vw;
}

.fbk a {
    text-decoration: none;
    color: white;
    text-align: center;
    letter-spacing: 1px;
}

.fbk:hover {
    background-color: rgb(8, 206, 163);
}

.ggl {
    text-align: center;
    background-color: #ea1717;
}

.ggl a {
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 1vw;
    letter-spacing: 1px;
}

.ggl:hover {
    background-color: #a0a0a0;
}

footer p {
    font-size: 1vw;
    margin: 1vw;
    opacity: 0.7;
}

p:last-child {
    opacity: 1;
}

hr {
    width: 50%;
    opacity: 0.4;
    margin-left: 25%;
}

a {
    font-size: 1vw;
}


/* sopping css */



