
/* login css */



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gilroy";
}

.main-log {
    height: 100vh;
    width: 100vw;
    background-color: #dadada;
}

.container-log {
    background-color: white;
    width: 40vw;
    height: 47vw;
    position: absolute;
    margin: auto;
    top: 3vw;
    left: 0%;
    bottom: 0;
    right: 0;
    border-radius: 10px;
    box-shadow: 2px 2px 3px -1px rgba(0, 0, 0, 0.5);
}

.content-log {
    width: 56%;
    margin: auto;
    text-align: center;
}

.img1-log {
    width: 5vw;
    position: relative;
    top: 2vw;
    border-radius: 50%;
}

.header-log {
    font-size: 2vw;
    font-weight: 700;
    margin-top: 3vw;
    margin-bottom: 3vw;
    line-height: 0.9;
}

.detail-log{
    width: 100%;
    height: 3vw;
    margin: 5px;
    padding: 1vw;
    font-size: 1vw;
    color: gray;
    border: 2px solid rgb(218, 214, 214);
    border-radius: 15px;
}



.btn-log {
    width: 100%;
    height: 3vw;
    border: hidden;
    border-radius: 20px;
    font-size: 0.5vw;
    margin: 5px 0px;
}

.int-log {
    background-color: #200df3;
    margin: 10px 0px;
    color: white;
    font-size: 1.5vw;
    text-align: center;
    border-radius: 10px;
}

.int-log:hover {
    background-color: #df0812;
}

footer p {
    font-size: 1vw;
    margin: 1;
    opacity: 0.7;
}

p:last-child {
    opacity: 1;
}

hr {
    width: 50%;
    opacity: 0.4;
    margin-left: 25%;
}

.error-log {
    font-weight: 500px;
    color: red;
    text-transform: capitalize;
    margin: 7px 0;
}

a {
    font-size: 1vw;
}

.suc-log {
    height: 2vw;
    width: 23vw;
    background-color: green;
    border-radius: 20px;
    display: none;
    text-align: center;
}

.err-log {
    height: 2vw;
    width: 23vw;
    background-color: red;
    border-radius: 20px;
    display: none;
    text-align: center;

}


/* signup css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gilroy";
}

.main-sig {
    height: 100vh;
    width: 100vw;
    background-color: #dadada;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container {
    background-color: white;
    width: 40vw;
    height: 45vw;
    border-radius: 20px;
    box-shadow: 2px 2px 3px -1px rgba(0, 0, 0, 0.5);
}

.content {
    width: 56%;
    height: 2vw;
    margin: auto;
    font-size: 1vw;
    text-align: center;
}

.img1 {
    width: 7vw;
    position: relative;
    top: 2vw;
    border-radius: 50%;
}

.header {
    font-size: 3vw;
    font-weight: 700;
    margin-top: 3vw;
    margin-bottom: 1vw;
    line-height: 0.9;
}

.detail {
    width: 20vw;
    height: 2vw;
    padding: 0.5vw;
    margin: 0.3vw;
    font-size: 1vw;
    color: gray;
    border: 2px solid rgb(218, 214, 214);
    border-radius: 15px;
}

.detail:focus {
    box-shadow: 0px -7px 3px -2px rgba(15, 91, 231, 0.4),
        0px 7px 3px -2px rgba(15, 91, 231, 0.4),
        7px 0px 3px -2px rgba(15, 91, 231, 0.4),
        -7px 0px 3px -2px rgba(15, 91, 231, 0.4);
    outline: none;
}

h4 {
    font-size: 1vw;
    font-weight: 700;
    position: relative;
    left: -6vw;
    margin: 2px;
}

.btn {
    width: 100%;
    height: 2vw;
    border: hidden;
    border-radius: 20px;
    margin: 0.3vw 0px;
}

.int {
    background-color: rgb(20, 161, 232);
    cursor: pointer;
    font-size: 1.5vw;
    font-weight: 900;
}

.int:hover {
    background-color: rgb(152, 203, 11);
    ;
}

.or {
    font-size: 1vw;
    font-weight: 700;
    margin: 1vw 0px;
}

.fbk {
    background-color: rgb(9, 128, 240);
    margin: 0.3vw 0px;
    font-size: 1vw;
}

.fbk a {
    text-decoration: none;
    color: white;
    text-align: center;
    letter-spacing: 1px;
}

.fbk:hover {
    background-color: rgb(8, 206, 163);
}

.ggl {
    text-align: center;
    background-color: #ea1717;
}

.ggl a {
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 1vw;
    letter-spacing: 1px;
}

.ggl:hover {
    background-color: #a0a0a0;
}

footer p {
    font-size: 1vw;
    margin: 1vw;
    opacity: 0.7;
}

p:last-child {
    opacity: 1;
}

hr {
    width: 50%;
    opacity: 0.4;
    margin-left: 25%;
}

a {
    font-size: 1vw;
}


/* sopping css */



